.navBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #60e0e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.navBar div {
    flex: 1;
    text-align: center;
}